.signUp-cont{
  padding: 2%;
  width: 60%;
  height: 90%;
  min-height: 600px;
  min-width: 300px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 5%;
  .home-link{
    position: absolute;
    top: 1%;
    left: 5%;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
  }
  .home-link.light:hover{ text-shadow: 0 0 10px black; }
  .home-link.dark:hover{ text-shadow: 0 0 10px white; }
  .signUp-form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    .signUp-input{
      width: 90%;
      text-align: center;
      border: none;
      border-bottom: 1px solid;
      background: transparent;
      outline: none;
      font-size: 1rem;
      text-transform: capitalize;
      font-weight: bolder;
    }
    .signUp-input.pass{ text-transform: none; }
    .signUp-input::placeholder{ color: white; }
    .passAdvice{
      width: 100%;
      text-align: center;
      color: red;
      font-weight: bolder;
    }
    .signUp-sect{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      max-height: none;
      min-width: 250px;
      min-height: 200px;
      max-width: none;
      max-height: none;
      .signUp-img{
        width: 100px;
        height: 100px;
        background-image: url("../assets/icons/Upload-ico.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: transparent;
        font: none;
        cursor: pointer;
      }
      label{
        width: 100%;
        min-height: 10px;
        text-align: center;
      }
      .signUp-img::-webkit-file-upload-button{ display: none; }
      .imgProfile{
        width: 100px;
        height: 100px;
      }
    }
    .signUp-button{
      width: 15%;
      min-width: 150px;
      height: 8%;
      padding: .5%;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      background-size: cover;
      color: white;
      text-shadow: 0 0 5px black;
      border: none;
      font-size: 1.2rem;
    }
    .signUp-button.light:hover{
      box-shadow: 0 0 10px white;
      text-shadow: 0 0 10px black;
    }
    .signUp-button.dark:hover{
      box-shadow: 0 0 10px black;
      text-shadow: 0 0 10px white;
    }
  }
  .login-link{
    display: flex;
    text-decoration: none;
    height: 30px;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .login-link:hover{
    text-shadow: 0 0 5px white;
    text-decoration-line: underline;
  }
}